<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
    <key>aps-environment</key>
    <string>development</string>
    <key>com.apple.developer.associated-domains</key>
    <array>
        <string>applinks:ghar.sale</string>
        <string>applinks:www.ghar.sale</string>
    </array>
</dict>
</plist>
